player-connection-mode=Listen
player-connection-guid=3746921412
player-connection-debug=0
player-connection-project-name=SkaffaCityGame
player-connection-ip=192.168.56.1
player-connection-ip=192.168.68.107
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=2e94797f35c44f30b52c5bace1021768
